.transactionContainer{
    background-color: white;
    margin: auto;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: 1px 1px grey;
}

hr{
    margin: 15px 0;
    opacity: 0.4;
}

.summary-date{
    text-align: left;
}
