.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.container>p{
    opacity: 0.7;
}

.container>div>div:first-child{
    border-radius: 40px;
    width: 50px;
}

.container>div>div>img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.heading{
    font-weight: 600;
    font-size: 14px;
}

.body{
    font-size: 12px;
    opacity: 0.4;
    margin-top: 5px;
}