.headerContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
    height: 20px;
    background-color: rgb(43, 43, 153);
    position: sticky;
    top: 0;
    z-index: 10;
}

.leftArrow{
    width: 7px;
    height: 7px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
}

.headerContainer>p{
    width: 100%;
    color: white;
    text-align: center;
}