.selector-container{
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: 1px 1px grey;
}

.selector-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.selector-box>select {
    width: 45%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.8;
}

.summary-btn{
    background-color: rgb(43, 43, 153);
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid navy;
}