*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

.App{
  margin: auto;
  min-height: 700px;
  width: 425px;
  text-align: center;
  background-color: rgb(215, 214, 222);
  padding-bottom: 40px;
}

@media screen and (max-width:425px) {
  .App {
    margin: auto;
    text-align: center;
  }
}

@media screen and (min-width:425px) and (max-width:1532px){
  .App{
    margin: auto;
    max-width: 425px;
    text-align: center;
  }
}
