*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

.App{
  min-height: 650px;
  /* height: 100%; */
  background-color: rgb(215, 214, 222);
  padding-bottom: 40px;
}

@media screen and (max-width:425px) {
  .App {
    text-align: center;
  }
}

@media screen and (min-width:428px){
  .App{
    display: none;
  }
}
